<a href="https://colab.research.google.com/github/silalex/Python_Algos/blob/main/pre_videoamp__lists_%26_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [2]:
# lists can be indexed and sliced:
squares[0]  # indexing returns the item

1

In [3]:
squares[-1] # returns the last item

25

In [5]:
squares[-3:]  # slicing returns "last 3 items" as a new list

[9, 16, 25]

In [3]:
# Lists concatenation:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# LIST is a mutable type
squares[3] = -333
squares

[1, 4, 9, -333, 25]

In [13]:
letters = ["a", "b", "c", "d", "e", "f", "g"]

# Join the elements of the list with a comma
comma_separated = ", ".join(letters[:-1])

# Print the final string
print(f"{comma_separated} and {letters[-1]}")

a, b, c, d, e, f and g

**Tuples**

In [8]:
# confusion
param = "name",
type(param)

tuple

In [9]:
# you cannot just "append" elements to a tuple
# use:
example = ("a", "b", "c")
example = example + ("d",)
example

('a', 'b', 'c', 'd')